/* @import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "PT Serif", serif;
}
.orginal-container{
    max-width: 1280px;
    margin: 0px auto;
    padding: 0px 10px;
    width: 100%;
}